h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
    font-weight: 300;
}


body {
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Roboto', sans-serif;
}



section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.bg-grey {
    background-color: #f3f5f9;
    color: #031b4e;
}

.bg-white {
    background-color: white;
    color: #031b4e;
}

.bg-blue {
    color: white;
    background-color: #031b4e;
    background-image: url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-lblue {
    color: white;
    background-color: #005aff;
    background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-bluef {
    color: white;
    background-color: #031b4e;
}

.gef_topbar {
    height: 40px;
    border-bottom: 1px solid #e1e4ea;
}

.gef_nav {
    height: 66px;
}

.gef_logo {
    width: 214px;
    padding: 15px 12px 8px 0px;
    float:left;
}
.gef_logo img {
    height: 28px;
}

.gef_navbar {
    float: left;
    width: calc(100% - 214px);
    padding-top: 3px;
}

.gef_sign {
    padding: 17px 16px 20px 16px;
    float: right;
}

.gef-ham {
    height: 52px;
    width: 52px;
    padding: 17px 16px 20px 16px;
    float: right;
}

.gef_lineham {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 3px auto;
}

.gef_banner {
    background: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}



.gef_h1 {
    padding: 60px 0;
}

.gef_banner .gef_hat-jumbo {
    background-color: #f3f5f9;
    color: black;
    border-radius: 10px 10px 0 0 ;
    padding: 16px;
}

#gef_jumbo {
    padding: 32px;
    background-color: white;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.gef_fot-jumbo {
    border-top: 1px solid #f3f5f9;
    background-color: white;
    border-radius: 0 0 10px 10px ;
    padding: 16px;
}

.gef_grey-bar {
    background-color: #f3f5f9;
}

.gef_grey-bar img {
    margin: 0 auto;
}

.gef_li-dep {
    padding: 15px;
    width: 100%;
    border-left: 2px solid #e5e8ed;
}

.gef_dev {

}

.gef_tb-city {
    border-bottom: 1.5px solid #354971;
}

.gef_worl .last {
    border-bottom: 0px;
}


.gef_cod,
.gef_city{
    display: inline-block;
}

.gef_ts {
    float: right;
}

.gef_bar-cta {
    padding: 64px;
}

.gef_bar-cta h2 {

}

.gef_bar-cta .col-sm-6 button {
    float: right;
}


footer {
    padding-top: 64px;
}

.gef_li-footer {
    margin-left: 0px;
}

.gef_col5 {
    width : 50%;
    float: left;
}




@media screen and (min-width: 992px) {
    .gef_nob-bot {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    .gef_col5 {
        width: 20%;
    }

}
