h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

h1 {
    font-size: 55px;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
    margin-top: 25px;
}



p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

a {
    color: #0069ff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

a:hover {
    color: #1633ff;
    text-decoration-line: none;
}

a::after {
    content: ' >';
    font-weight: 600;
}

body {
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Roboto', sans-serif;
}



section {
    padding-top: 120px;
    padding-bottom: 120px;
}


button {
    border: 1px solid #006aff;
    color: #006aff;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#gef_btn-sign {
    padding: 6px;
}

#swebutton {
    width: 100%;
    color: white;
    background-color: #006aff;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

#buttonjumbo1 {
    width: calc(100% - 57px);
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
}

#buttonjumbo1:hover span{
    color: black;
}

#buttonjumbo2 {
    width:100%;
    max-width: 53px;
    padding: 16px 16px;
    font-size: 16px;
    font-weight: 600;
}

#gef_cya {
    font-size: 16px;
    padding: 16px 16px;
    border: 0px;
}

#gef_cya:hover {
    background-color: #cbd4e4;
}

.gef_form input {
    height: 48px;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 15px;
}

.bg-grey {
    background-color: #f3f5f9;
    color: #031b4e;
}

.bg-white {
    background-color: white;
    color: #031b4e;
}

.bg-blue {
    color: white;
    background-color: #031b4e;
    background-image: url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-lblue {
    color: white;
    background-color: #005aff;
    background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-bluef {
    color: white;
    background-color: #010e28;
}

.gef_topbar {
    height: 40px;
    border-bottom: 1px solid #e1e4ea;
}

.gef_nav {
    height: 66px;
}

.gef_logo {
    width: 214px;
    padding: 15px 12px 8px 0px;
    float:left;
}
.gef_logo img {
    height: 28px;
}

.gef_navbar {
    float: left;
    width: calc(100% - 214px);
    padding-top: 3px;
}

.gef_navbar .gef_menu-item {
    float: left;
    font-size: 16px;
    padding: 16px;
    font-weight: 500;
}

.gef_sign {
    padding: 11px 0px;
    float: right;
}

.gef-ham {
    height: 52px;
    width: 52px;
    padding: 17px 16px 20px 16px;
    float: right;
}

.gef_lineham {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 3px auto;
}

.gef_banner {
    background: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}



.gef_h1 {
    padding: 90px 0;
}

.gef_banner .gef_hat-jumbo {
    background-color: #f3f5f9;
    color: black;
    border-radius: 10px 10px 0 0 ;
    padding: 16px;
}

#gef_jumbo {
    padding: 32px;
    background-color: white;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.gef_fot-jumbo {
    border-top: 1px solid #f3f5f9;
    background-color: white;
    border-radius: 0 0 10px 10px ;
    padding: 32px;
}

.gef_fot-jumbo i {
    font-size: 18px;
}

.gef_grey-bar {
    background-color: #f3f5f9;
}

.gef_row_images {
    margin-top: 32px;
}

.gef_grey-bar img {
    margin: 0 auto;
}

.gef_grey-bar .gef_row-a {
    margin-top: 20px;
}

.gef_minisite {
    color: #817795;
}

.gef_li-dep {
    padding: 15px;
    width: 100%;
}

.gef_li-dep span{
    text-transform: capitalize;
}

.gef_border-menusm{
    border-bottom: 2px solid #e5e8ed;
    text-align: center;
}

.gef_minisite-view img {
    margin-top: 20px;
}

.gef_minisite-view h3 {
    color: #031b4e;
}

.gef_minisite-view p {
    font-size: 14px;
}

.gef_built img {
    margin-top: 40px;
}

.gef_built .row p {
    font-size: 18px;
}

.gef_arrow {
    padding: 234px 76px;
}

.gef_box-dev {
    padding: 64px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px lightgrey;
}

#rockerbox {
    max-width: 200px;
}

.gef_box-dev .fas {
    font-size: 11px;
}

#fql {
    vertical-align: super;
}

.gef_box-dev span {
    display: block;
    padding-top: 10px;
}

.gef_box-dev .gef_cit-aut {
    font-size: 22px;
}

.gef_arrow2 {
    padding: 172px 27px;
}

.gef_tb-city  {
    border-bottom: 1.5px solid #354971;
    padding-top: 13px;
    padding-bottom: 32px;
    font-size: 13px;
}

.gef_cod {
    font-size: 13px;
    text-transform: uppercase;
}

.gef_cod,
.gef_city {
    padding-left: 10px;
    margin: 0 0;

}

.gef_ts {
    float: right;
    font-size: 13px;
    color: #01c5d2;
}

.gef_nob-bott {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.gef_worl .gef_cod {
    font-size: 13px;
    font-weight: 700;
}

.gef_bar-cta {
    padding: 64px;
}

.gef_bar-cta .col-sm-6 h2 {
    padding-top: 8px;
}

footer {
    padding-top: 64px;
    padding-bottom: 48px;
}

.gef_li-footer {
    margin-left: 0px;
}

.gef_col5 {
    width : 50%;
    float: left;
}

.gef_col5 ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;

}

.gef_col5 h5 {
    margin-bottom: 25px;
}

.gef_col5 li {
    color: #787e8c;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
}



.gef_ffoo {
    padding-top: 48px;
    border-top: 1px solid #787e8c;
}

.gef_ffoo span {
    padding-left: 20px;
    color: #7f8693;
}

.gef_rw {
    margin-left: 0;
}

.gef_social-icon {
    font-size: 20px;
    padding: 14px 0 14px 0;
}

.gef_social-icon .fab {
    padding-left: 9px;
    padding-right: 9px;
    color: #7f8693;
}

footer li:hover {
    color: white;
}

footer .gef_social-icon i:hover {
    color: white;
}

@media screen and (min-width: 992px) {
    .gef_nob-bot {
        border-bottom: 1.5px solid rgba(0, 0, 0, 0);
    }

    .gef_border-menusm{
        border-bottom: 0px;
        border-left: 3px solid #e5e8ed;
    }

    .gef_li-dep {
        text-align: left;
    }

    .gef_col5 {
        width: 20%;
    }

    .gef_ffoo {
        text-align: left;
    }

    .gef_social-icon {
        float: right;
    }

    .gef_minisite-view {
        text-align: left;
    }

}

@media screen and (min-width: 768px) {
    .gef_bar-cta h2  {
        float: left;
        padding-bottom: 0;
        padding-top: 6px;

    }
    .gef_bar-cta button  {
        float: right;
    }
}
